.mainLayout {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  /* grid-template-rows: 8% 92%; */
  grid-template-columns: repeat(6, 1fr);
  overflow: hidden;
}

.mainLayout > main {
  grid-column: span 5;
  height: 100%;
  width: 100%;
}
menu {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* .mainLayout > * {
  border: 1px black solid;
} */
