html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  background-color: rgb(36, 36, 36);
  /* font-family: "rubik"; */
  color: white;
}
.p-blue {
  background-color: rgb(50, 76, 239);
}
.p-white {
  background-color: rgb(255, 255, 255);
}
.p-black {
  background-color: rgb(0, 0, 0);
}
